<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.elk.core.service.layoutConnectors">
          <setup
            class="org.archicontribs.layout.elk.ArchimateDiagramLayoutSetup">
      </setup>
   </extension>
	<extension
         point="org.eclipse.ui.commands">
    <category
          id="org.archicontribs.layout.category"
          name="myCategory">
    </category>
      <command
            categoryId="org.archicontribs.layout.category"
            defaultHandler="org.eclipse.elk.core.ui.views.ShowLayoutViewHandler"
            description="%command.description1"
            id="org.archicontribs.layout.command.showLayoutView"
            name="%command.name1">
      </command>
   </extension>   
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="org.archicontribs.layout.command.showLayoutView"
            icon="icons/view16/layout.gif">
      </image>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:window?after=show_view_append">
         <command
               commandId="org.archicontribs.layout.showLayoutView"
               icon="icons/view16/layout.gif"
               id="org.archicontribs.layout.menuitem.showLayoutView"
               label="%view.name"
               style="push"
               tooltip="%command.name1">
         </command>
      </menuContribution>

      <menuContribution
            allPopups="false"
            locationURI="toolbar:toolbar_views?after=com.archimatetool.help.toolbaritem.showHintsView">
         <separator
               name="org.archicontribs.layout.separator2"
               visible="true">
         </separator>         
         <command
               commandId="org.eclipse.elk.core.ui.command.showLayoutView"
               icon="icons/view16/layout.gif"
               id="org.archicontribs.layout.toolbaritem.showLayoutView"
               label="%view.name"
               style="push"
               tooltip="%command.name1">
         </command>

      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.views">
   		<view
           allowMultiple="false"
           class="org.eclipse.elk.core.ui.views.LayoutViewPart"
           icon="icons/view16/layout.gif"
           id="org.eclipse.elk.core.views.layout"
           name="%view.name"
           restorable="true">
		</view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="*">
         <view
               id="org.eclipse.elk.core.views.layout"
               minimized="false"
               relationship="stack"
               relative="com.archimatetool.editor.propertiesView">
         </view>
      </perspectiveExtension>
   </extension>
</plugin>
